@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

@import './components/_navbar';
@import './components/_filter-main';

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

@font-face {
  font-family: Optima-ExtraBlack;
  src: url("./fonts/Optima-ExtraBlack.ttf") format("truetype");
}
