@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

@import './components/_navbar';

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Optima-ExtraBlack;
  src: url("./fonts/Optima-ExtraBlack.ttf") format("truetype");
}
